<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CARS</title>
</head>
<body>
<div>
    <table cellpadding="5px">
        <th align="left">Модель</th>
        <th align="left">Марка</th>
        <th align="left">Год выпуска</th>
    <th:block th:each="car : ${cars}">
        <tr>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getMarka()}"></td>
        <td th:text="${car.getYear()}"></td>
        </tr>
    </th:block>
    </table>
</div>
</body>
</html>